@font-face {
  font-family: 'Chocolada';
  src: url('../Fonts/chocolada-webfont.woff') format('woff'),
      url('../Fonts/chocolada-webfont.woff2') format('woff2');
}

:root {
  --blue--color: #0B5563;
  --light--color: #cccccc;
  --dark--color: #1b1919;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Chocolada;
}

h1 {
  font-size: 42px;
  letter-spacing: 5px;
}

.app-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 4fr 50px;
}

/* HEADER COMPONENT STYLES */

.app--header {
  background-color: var(--blue--color);
  display: flex;
  align-items: center;
  padding-left: 25px;
  border: 2px solid black;
  border-radius: 5px;
  color: var(--light--color);
}

/* CONTENT COMPONENT STYLES */

.app--content {
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  background-color: var(--light--color);
  border-radius: 5px;
  margin: 5px 0;
}

.app--content form {
  padding: 25px;
  font-size: 24px;
  color: var(--dark--color);
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}

.tile {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}

.tile-field {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.tile-field > input {
  width: 180px;
  height: 25px;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid var(--dark--color);
  outline: none;
}

.app--content > .cv--container {
  display: grid;
  font-family:'Courier New', Courier, monospace;
  grid-template-rows: 80px 8fr;
  justify-self: center;
  background-color: #ffffff;
  border: 2px solid black;
  color: var(--dark--color);
  padding: 50px 35px;
  width: 100%;
}

.cv--header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.cv--header--mid {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cv--header--mid h2 {
  font-size: 32px;
}

.cv--header--mid h2, .cv--header--mid > h4{
  margin: 0;
}

.cv--header--left {
  line-height: 25px;
}

.cv--header--right {
  text-align: end;
  line-height: 25px;
}

.cv--header--left > h5, .cv--header--right > h5 {
  margin: 0;
  font-size: 10px;
}


/* FOOTER COMPONENT STYLES */

.app--footer {
  background-color: var(--blue--color);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.app--footer p {
  color: var(--light--color);
  font-size: 24px;
  letter-spacing: 5px;
}