@font-face {
  font-family: 'Chocolada';
  src: url('../Fonts/chocolada-webfont.woff') format('woff'),
      url('../Fonts/chocolada-webfont.woff2') format('woff2');
}

:root {
  --blue--color: #0B5563;
  --light--color: #cccccc;
}

* {
  box-sizing: border-box;
  font-family: Chocolada;
}

h1 {
  font-size: 42px;
  letter-spacing: 5px;
}

.app-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 4fr 50px;
}

/* HEADER COMPONENT STYLES */

.app--header {
  background-color: var(--blue--color);
  display: flex;
  align-items: center;
  padding-left: 25px;
  border: 2px solid black;
  border-radius: 5px;
  color: var(--light--color);
}

/* CONTENT COMPONENT STYLES */

.app--content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--light--color);
  border-radius: 5px;
  margin: 5px 0;
}

/* FOOTER COMPONENT STYLES */

.app--footer {
  background-color: var(--blue--color);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.app--footer p {
  color: var(--light--color);
  font-size: 24px;
  letter-spacing: 5px;
}